@import '../../../../global/colors';
@import '../../shared/scss/auth';

/*right*/

.form .button{
    width: 70%;
}

.logo {
    width: 20rem;
    height: 20rem;
}

.loginprofile {
    margin-bottom: 3rem;
}

/*register*/
.goregister {
    margin-top: 8rem;
}

/*left*/

.left-side {
    width: 30%;
}

/**arrow */

.changeimage {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.leftarrow,
.rightarrow {
    width: 2rem;
    height: 2rem;
    background-color: $white;
    transition: all ease-out 0.2s;
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -ms-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transition: all ease-out 0.2s;
        -webkit-transition: all ease-out 0.2s;
        -moz-transition: all ease-out 0.2s;
        -ms-transition: all ease-out 0.2s;
        -o-transition: all ease-out 0.2s;
    }
}

.leftarrow {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.rightarrow {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

/*media query*/

@media (max-width: 1350px) {
    .left-side {
        display: none;
    }

    .container {
        width: 80%;
    }
}

@media (max-width: 850px) {
    .form h1 {
        font-size: 2rem;
    }

    .form .button{
        width: 40%;
    }

    .formField {
        grid-template-columns: repeat(1, 1fr);
        width: auto;
    }

    .container {
        width: 100%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
