@import '../../../../global/colors';
@import '../../scss/auth';

/*right*/

.logo {
    width: 10rem;
    height: 10rem;
}

.formField {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    width: 40rem;
}

/*login*/
.goregister{
    margin-top: 3rem;
}


/*media query*/

@media (max-width: 1350px) {
    .left-side {
        display: none;
    }

    .container {
        width: 80%;
        height: 80%;
    }

    .form .button{
        width: 40%;
    }
}

@media (max-width: 850px) {
    .form{
        h1 {
            font-size: 2rem;
        }
    }

    .formField {
        grid-template-columns: repeat(1, 1fr);
        width: auto;
    }

    .container {
        padding: 1rem 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
