@import '../src/colors/colors.scss';

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.bodyOnAll, .bodyWidth{
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
}

.bodyOnAll{
    margin-left: 350px;
}

.bodyWidth{
    margin-left: 120px;
}

.bodyMobile{
    margin-left: 0;
}

.OnLoginRegisterBody{
    margin: 0;
}